<<<<<<< HEAD
html * {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: $font;
    margin: 20px 24px;
    z-index: 0;

    @include breakpoint(tablet) {
        margin: 28px 80px;
    }

    @include breakpoint(desktop) {
        margin: 28px 165px 128px 165px;
    }
    
} 
=======
body {
    font-family: $font-primary;
    margin: 30% 24px;
    background-color: $grey-950;
    
    @include breakpoint(tablet) {
        margin: 30% 180px;
    }

    @include breakpoint(tablethorizontal) {
        margin: 30% 310px;
    }

    @include breakpoint(desktopxl) {
        margin: 30% 514px;
    }
}

* {
    margin: 0;  
    padding: 0;
}
>>>>>>> 1a0ea39 (first commit)
